:root {
	--content-light:       #f1e6f8;
	--content-background:  #F0E2F9;
	--content-mid:         #eac8f3;
	--content-brand:       #edc8f2;
	--content-highlight:   #DDAEE9;
	--content-darker:      #CD90DE;
	--content-text:        #4b2b50;
    --content-text-shadow: #4b2b5098;
	--content-text-darker: #2d1930;
}
@import "https://qwreey75.github.io/Themecord/src/base.css";