/**
 * @name Sea
 * @author Qwreey75 (know as 쿼리)
 * @version 1.0.0
 * @description 소라색 테마
 * @source https://github.com/qwreey75/Themecord
**/

:root {
	--content-light:       #d0dff5;
	--content-background:  #b2caee;
	--content-mid:         #9fbff0;
	--content-brand:       #80AAE7;
	--content-highlight:   #709bdb;
	--content-darker:      #5986c9;
	--content-text:        #254472;
	--content-text-shadow: #172a4754;
	--content-text-darker: #0e1e35;
	--content-hsl: 210;
}
@import url("https://qwreey75.github.io/Themecord/src/base.css");