:root {
  --content-light: #ffeef5;
  --content-background: #FFE3F1;
  --content-highlight: #FEAFCE;
  --content-mid: #FEC9DD;
  --content-darker: #F69197;
  --content-text: #30191b;
  --content-brand: #fb8a91;

  --brand-experiment: var(--content-brand) !important;

  --background-floating: var(--content-light) !important;
  --background-primary: var(--content-background) !important;
  --background-accent: var(--content-darker) !important;
  --background-secondary: var(--content-mid) !important;
  --background-tertiary: var(--content-darker) !important;

  --channels-default: var(--content-text) !important;
  --channeltextarea-background: var(--content-mid) !important;
  --background-secondary-alt: var(--content-mid) !important;

  --scrollbar-auto-track: var(--content-light) !important;
  --scrollbar-auto-thumb: var(--content-darker) !important;
  --scrollbar-auto-scrollbar-color-track: var(--content-light) !important;
  --scrollbar-auto-scrollbar-color-thumb: var(--content-darker) !important;
  --scrollbar-thin-track: var(--content-light) !important;
  --scrollbar-thin-thumb: var(--content-darker) !important;
}

#gif-picker-tab-panel {
  background-color: var(--content-mid) !important;
}

[class^="chat"] [class^="content"] [class^="chatContent"] {
  background-color: var(--content-background) !important;
}

[class^="chat"] [class^="title"],
[class^="sidebar"] [class^="container"] [class^="header"]
{
  background-color: var(--content-highlight) !important;
}

[class^="chat"] [class^="title"] [class^="children"] [class^="iconWrapper"]::after {
  display: none !important;
  width: 0px !important;
}

[class^="members"] [class^="content"] {
  text-shadow: 0 0 10px var(--content-text);
}

[class^="members"] [class^="content"] [class^="member"] [class^="layout"] [class^="content"],
[class^="members"] [class^="content"] [class^="member"] [class^="layout"] [class^="content"] [class^="nameAndDecorators"],
[class^="members"] [class^="content"] [class^="member"] [class^="layout"] [class^="content"] [class^="nameAndDecorators"] [class^="roleColor"],
[class^="members"] [class^="content"] [class^="member"] [class^="layout"] [class^="content"] [class^="nameAndDecorators"] [class^="name"],
[class^="members"] [class^="content"] [class^="member"] [class^="layout"] [class^="content"] [class^="subText"] {
  overflow: visible !important;
}

[class^="peopleColumn"] {
  background-color: var(--content-background) !important;
}

[class^="uploadModal"] {
  background: var(--content-light) !important;
}
[class^="uploadModal"] [class^="footer"] {
  background: var(--content-background) !important;
}
